/* - - GENERAL - - */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #212529;
}

.container {
  max-width: 1392px;
  margin: 0 auto;
}

h2 {
  font-size: 1.8em;
}

/* MENU NAV */
.header-nav {
  height: 80px;
  line-height: 80px;
}

/* Menù mobile */
.nav-hamb i {
  margin-right: 50px;
  font-size: 1.5em;
  vertical-align: middle;
}

/* Logo */
.logo img {
  vertical-align: text-bottom;
}

/* Menù principale */
.main-nav ul li {
  margin-right: 20px;
  text-transform: uppercase;
}

/* Media per risolvere problema scomparsa ultimo elemento menù */
@media screen and (max-width: 1060px) {
  .main-nav ul li {
    margin-right: 15px;
  }
}

.main-nav ul li a {
  font-weight: 600;
  font-size: 0.8em;
  color: #343434;
}

/* Language Menù */
.lang-nav ul li:not(:last-child) a {
  border-right: 1.5px solid black;
  padding-right: 10px;
}

/* - - JUMBOTRON - - */
.jumbotron {
  background-image: url(../img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  height: 600px;
  position: relative;
}

.jumbotron .testo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.testo h1 {
  font-size: 3em;
  margin-bottom: 25px;
}

/* Responsive Jumbotron */
@media screen and (max-width: 494px) {
  .testo h1 {
    font-size: 2.5em;
  }
}

/* - - MAIN SECTION - - */
/* Prima sezione - Prodotti */
.products [class*="col-"] {
  padding: 50px 20px;
}

.products .row {
  background-color: #fafafa;
  padding: 30px;
}

.products img {
  height: 350px;
}

.products .row p:first-child {
  font-size: 2.2em;
  font-weight: 300;
}

.products p strong {
  font-weight: 700;
  letter-spacing: 9px;
  text-transform: uppercase;
}

.products .row p:nth-child(2) {
  font-size: 1.2em;
}

.products a {
  display: block;
  color: #0070c8;
}

.products a:hover {
  text-decoration: underline;
}

/* Prima sezione - Prodotti - RESPONSIVE */
@media screen and (max-width: 520px) {
  .products img {
    height: 270px;
  }
}

/* Seconda Sezione - How it works */
.hiw {
  background-image: url(../img/index-banner.1f6fd0a.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 720px;
}

.hiw .container {
  margin-top: 120px;
  vertical-align: sub;
  position: relative;
}

.hiw .container [class*="col-"] {
  padding: 0 20px;
}

.hiw .container h2 {
  padding: 0 0 0 160px;
}

.hiw .container [class*="col-"]:nth-child(1) {
  text-align: center;
  position: absolute;
}

.hiw .container [class*="col-"]:nth-child(2) {
  margin-top: 420px;
}

.hiw .container [class*="col-"]:nth-child(3) {
  margin-top: 450px;
}

.hiw img {
  height: 550px;
}

/* Quarta sezione - How it works - RESPONSIVE */
@media screen and (max-width: 992px) {
  .hiw {
    background-size: 190%;
    background-position-x: 30%;
  }

  .hiw .container h2 {
    padding: 0 0 0 100px;
  }
}

@media screen and (max-width: 768px) {
  .hiw {
    height: 650px;
  }

  .hiw img {
    height: 450px;
  }

  .hiw .container [class*="col-"]:nth-child(2) {
    margin-top: 300px;
  }

  .hiw .container [class*="col-"]:nth-child(3) {
    margin-top: 350px;
  }

  .hiw .container h2 {
    padding: 0 0 0 50px;
  }
}

/* Terza Sezione - Mobility */
.mobility {
  background-image: url(../img/scooter.f0a0397.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 540px;
  color: white;
  position: relative;
  margin-bottom: 40px;
}

.mobility [class*="col-"] {
  padding: 0 150px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.mobility [class*="col-"] h2 {
  font-size: 2.8em;
}

.mobility [class*="col-"] p {
  font-size: 1.4em;
  padding-bottom: 30px;
}

.mobility [class*="col-"] a {
  font-size: 1.2em;
  color: white;
}

.mobility [class*="col-"] a:hover {
  text-decoration: underline;
}

/* Terza sezione - Mobility - RESPONSIVE */
@media screen and (max-width: 992px) {
  .mobility [class*="col-"] {
    padding: 0 100px;
  }
}

@media screen and (max-width: 768px) {
  .mobility .row {
    background-color: #21252942;
    height: 100%;
  }
}

/* Quarta Sezione - App */
.app {
  height: 400px;
}

.app .pad-row {
  height: 100%;
}

.app .tel-app {
  background-image: linear-gradient(#3c4f61, #212529);
}

.tel-app,
.city-app {
  color: white;
  height: 100%;
  padding-top: 30px;
}

.tel-app .row {
  background-image: url(../img/iphone-bg.2dae1bd.png);
  height: 100%;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center -90%;
}

.app .city-app {
  height: 100%;
  background-image: url(../img/city.7c8c928.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 100px;
}

.app h2 {
  font-size: 2em;
}

.app p {
  font-size: 1.5em;
}

.app a {
  color: white;
  font-size: 1.5em;
  margin: 0 10px;
}

.app a:hover {
  text-decoration: underline;
}

/* Quarta sezione - Applicazione - RESPONSIVE */
@media screen and (max-width: 992px) {
  .app .pad-row {
    padding-left: 0;
    padding-right: 0;
  }
}

/* Quinta sezione - Family */
.family {
  height: 402px;
  background-image: url(../img/image-wall.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 30px 0;
  position: relative;
}

.family .social-rect {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 200px;
  width: 500px;
  background-color: #fff;
  padding-top: 50px;
}

.family .social-rect h3 {
  font-size: 2em;
  margin-bottom: 20px;
  font-weight: 400;
}

.family .social-rect i {
  font-size: 1.8em;
}

.family .social-rect :not(:last-child) i {
  margin-right: 30px;
}

.family .social-rect i:hover {
  cursor: pointer;
  color: #0070c8;
}

/* - - FOOTER - - */
footer {
  height: 680px;
  background-color: black;
  color: white;
}

footer .container {
  padding: 100px 100px 0;
}

footer .container a {
  color: white;
}

footer .container li {
  display: block;
}

.footer-nav .footer-logo {
  text-transform: uppercase;
  font-size: 1.4em;
  letter-spacing: 9px;
}

.footer-nav .footer-products h3,
.footer-nav .footer-info h3,
.footer-nav .footer-contact h3 {
  text-transform: uppercase;
  margin-bottom: 30px;
}

.footer-nav li {
  margin-bottom: 20px;
}

footer hr {
  opacity: 0.3;
}

.footer-nav li a {
  font-weight: 400;
  color: lightgray;
  opacity: 0.6;
}

.footer-nav li a:hover {
  font-weight: 400;
  color: white;
  opacity: 1;
}

.footer-terms {
  margin: 40px 0;
}

.footer-terms [class*="col-"] li {
  display: inline-block;
}

.footer-terms [class*="col-"] a {
  font-size: 0.9em;
}

.footer-terms [class*="col-"] i {
  font-size: 1.3em;
  margin-right: 20px;
}

.footer-terms [class*="col-"] i:hover {
  color: #0070c8;
  cursor: pointer;
}

.footer-terms img {
  height: 15px;
}

.footer-app {
  margin-top: 20px;
}

.footer-app img {
  border: 1px solid white;
  border-radius: 5px;
}

/* Footer - RESPONSIVE */
@media screen and (max-width: 992px) {
  footer .container {
    padding: 50px 100px 0;
  }

  .footer-nav [class*="col-"] {
    text-align: center;
  }

  .footer-nav .footer-logo {
    padding-bottom: 20px;
  }

  .footer-terms [class*="col-"] {
    text-align: center;
    margin-bottom: 10px;
  }
}
